<div class="d-flex row">
    <app-info-section
            [selectedData]="MAP_SECTION[0]"
    ></app-info-section>
    <div class="d-flex column align-items-center">
        <app-imported-content
                class="col-6"
                [imgSrc]="'https://rxjs.dev/assets/images/marble-diagrams/map.png'"
        ></app-imported-content>
    </div>
    <app-info-section
            [selectedData]="MAP_SECTION[1]"
    ></app-info-section>
    <div class="mb-4">
        <app-info-section
                [selectedData]="MAP_SECTION[2]"
        ></app-info-section>
        <div class="d-flex pt-3 column gap-3">
            <div class="col-6">
                <div class="form-text">Map Operator</div>
                <div class="input-group align-items-center">
                    <input
                            type="text"
                            class="form-control"
                            [ngModel]="arrayValue.toString()"
                            disabled
                    />
                </div>
                <div class="d-flex justify-content-center p-3">
                    <button
                            class="btn btn-outline-secondary mx-3"
                            type="button"
                            (click)="startProcess()"
                            [disabled]="processStarted"
                    >
                        Start!
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class="form-text">Output:</div>
                <div class="input-group mb-3">
          <textarea
                  type="text"
                  class="form-control"
                  disabled
                  [ngModel]="sentArrayValue"
                  style="height: 170px"
          ></textarea>
                </div>
            </div>
        </div>
        <app-code-tabs
                [tsCode]="tsArrayCode"
                [htmlCode]="htmlArrayCode"
                [tabID]="'fromArray'"
        ></app-code-tabs>
    </div>
</div>
