<div class="d-flex row">
    <app-info-section
            [selectedData]="MERGE_MAP_SECTION[0]"
    ></app-info-section>
    <div class="d-flex column align-items-center">
        <app-imported-content
                class="col-6"
                [imgSrc]="'https://rxjs.dev/assets/images/marble-diagrams/mergeMap.png'"
        ></app-imported-content>
    </div>
    <app-info-section
            [selectedData]="MERGE_MAP_SECTION[1]"
    ></app-info-section>
    <div class="mb-4">
        <app-info-section
                [selectedData]="MERGE_MAP_SECTION[2]"
        ></app-info-section>
        <div class="d-flex pt-3 column gap-3">
            <div class="col-6">
                <div class="form-text">MergeMap Operator</div>
                <div class="input-group align-items-center">
                    <textarea
                            class="form-control"
                            disabled
                            value="{{ enteredText }}"
                            style="height: 170px"
                    ></textarea>
                </div>
            </div>
            <div class="col-6">
                <div class="form-text">Output:</div>
                <div class="input-group mb-3">
          <textarea
                  class="form-control"
                  disabled
                  value="{{ sentArrayValue }}"
                  style="height: 170px"
          ></textarea>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center p-3">
            <button
                    class="btn btn-outline-secondary mx-3"
                    type="button"
                    (click)="requestInfo()"
            >
                Request Info
            </button>

        </div>
        <div class="d-flex justify-content-center py-4 gap-3">
            <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="restartArrayOperator()"
            >
                Restart operator
            </button>
        </div>
        <app-code-tabs
                [tsCode]="tsArrayCode"
                [htmlCode]="htmlArrayCode"
                [tabID]="'fromArray'"
        ></app-code-tabs>
    </div>
</div>
