<div class="code-tabs-border">
  <div class="accordion accordion-flush">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed p-1"
          type="button"
          data-bs-toggle="collapse"
          [attr.data-bs-target]="'#'+tabID"
          [attr.aria-controls]="'#'+tabID"
          aria-expanded="false"
        >
          Example's code
        </button>
      </h2>
      <div
        [id]="tabID"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="ts-tab"
                data-bs-toggle="tab"
                data-bs-target="#ts-tab-pane"
                type="button"
                role="tab"
                aria-controls="ts-tab-pane"
                aria-selected="true"
              >
                Typescript
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="html-tab"
                data-bs-toggle="tab"
                data-bs-target="#html-tab-pane"
                type="button"
                role="tab"
                aria-controls="html-tab-pane"
                aria-selected="false"
              >
                HTML
              </button>
            </li>
          </ul>
          <div class="tab-content">
            <div
              class="tab-pane fade show active"
              id="ts-tab-pane"
              role="tabpanel"
              tabindex="0"
            >
              <code>
                <pre class="pt-4"
                  >{{ tsCode }}
              </pre
                >
              </code>
            </div>
            <div
              class="tab-pane fade"
              id="html-tab-pane"
              role="tabpanel"
              tabindex="0"
            >
              <code>
                <pre class="pt-4"
                  >{{ htmlCode }}
              </pre
                >
              </code>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
