<div class="d-flex row">
  <app-info-section
    [selectedData]="COMBINE_LATEST_WITH_SECTION[0]"
  ></app-info-section>
  <app-imported-content
    [imgSrc]="
      'https://rxjs-dev.firebaseapp.com/assets/images/marble-diagrams/combineLatest.png'
    "
  ></app-imported-content>
  <app-imported-content
    [videoSrc]="
      'https://images.indepth.dev/references/rxjs/operators/combine-latest.mp4'
    "
  ></app-imported-content>
  <app-info-section
    [selectedData]="COMBINE_LATEST_WITH_SECTION[1]"
  ></app-info-section>
  <div class="mb-4">
    <app-info-section
      [selectedData]="COMBINE_LATEST_WITH_SECTION[2]"
    ></app-info-section>
    <div class="d-flex pt-3 column gap-3">
      <div class="col-6 d-flex row gap-1">
        <div>
          <div class="form-text">First Observer</div>
          <div class="input-group align-items-center">
            <input
              type="text"
              class="form-control"
              placeholder="Send any value!"
              [(ngModel)]="firstInputValue"
            />
          </div>
        </div>
        <div>
          <div class="form-text">Second Observer</div>
          <div class="input-group align-items-center">
            <input
              type="text"
              class="form-control"
              placeholder="Send any value!"
              [(ngModel)]="secondInputValue"
            />
          </div>
        </div>
        <div class="d-flex justify-content-center p-3">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="doCombineStreams()"
          >
            Combine streams!
          </button>
        </div>
      </div>
      <div class="col-6">
        <div class="form-text">combineLatestWith() strings Subscription</div>
        <div class="input-group mb-3">
          <textarea
            type="text"
            class="form-control"
            disabled
            value="{{ combinatedValue }}"
            style="height: 170px"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center py-4 gap-3">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="restartOperator()"
      >
        Restart operator
      </button>
    </div>
    <app-code-tabs
      [tsCode]="tsStringCode"
      [htmlCode]="htmlStringCode"
      [tabID]="'combineLatestWithStrings'"
    ></app-code-tabs>
  </div>
  <div class="mb-4">
    <app-info-section
      [selectedData]="COMBINE_LATEST_WITH_SECTION[3]"
    ></app-info-section>
    <div class="d-flex pt-3 column gap-3">
      <div class="col-6 d-flex row gap-1">
        <div>
          <div class="form-text">First Observer URL</div>
          <div class="input-group align-items-center">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="firstInputURL"
              disabled
            />
          </div>
        </div>
        <div>
          <div class="form-text">Second Observer URL</div>
          <div class="input-group align-items-center">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="secondInputURL"
              disabled
            />
          </div>
        </div>
        <div class="d-flex justify-content-center p-3">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="doCombineCryptoStreams()"
          >
            Combine streams!
          </button>
        </div>
      </div>
      <div class="col-6">
        <div class="form-text">Last BTCs prices</div>
        <div class="input-group mb-3">
          <textarea
            type="text"
            class="form-control"
            disabled
            [ngModel]="combinatedCryptoValue"
            style="height: 220px"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center py-4 gap-3">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="restartCryptoOperator()"
      >
        Restart operator
      </button>
    </div>
    <app-code-tabs
      [tsCode]="tsCryptoCode"
      [htmlCode]="htmlCryptoCode"
      [tabID]="'combineLatestWithCrypto'"
    ></app-code-tabs>
  </div>
</div>
