<div class="d-flex row">
  <app-info-section [selectedData]="SUBJECT_SECTION[0]"></app-info-section>
  <app-info-section [selectedData]="SUBJECT_SECTION[1]"></app-info-section>
  <app-info-section [selectedData]="SUBJECT_SECTION[2]"></app-info-section>
  <app-info-section [selectedData]="SUBJECT_SECTION[3]"></app-info-section>
  <div class="pb-4">
    <app-info-section [selectedData]="SUBJECT_SECTION[4]"></app-info-section>
    <div class="alert alert-danger" *ngIf="subject.closed">
      Subject closed! You're not able to subscribe again and you'll not receive
      any more values!
    </div>
    <div class="pt-3 d-flex column gap-5">
      <div class="d-flex row align-content-center">
        <div class="form-text">Subject Observer</div>
        <div class="input-group align-items-center">
          <input
            type="text"
            class="form-control"
            placeholder="Send a value!"
            name="subjectValue"
            [(ngModel)]="subjectValue"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="doSendValue()"
          >
            Next
          </button>
        </div>
      </div>
      <div class="d-flex row gap-1">
        <div class="form-text">Subject 1 (Observable / Listener)</div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            disabled
            [value]="receivedValue1"
          />
        </div>
        <div class="form-text">Subject 2 (Observable / Listener)</div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            disabled
            [value]="receivedValue2"
          />
        </div>
        <div class="form-text">Subject 3 (Observable / Listener)</div>
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            disabled
            [value]="receivedValue3"
          />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center py-4 gap-3">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="openSubscriptions()"
      >
        Open subscriptions
      </button>
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="closeSubscriptions()"
      >
        Close subscriptions
      </button>
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="closeSubject()"
      >
        Close Subject
      </button>
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="restartSubject()"
      >
        Restart Subject
      </button>
    </div>
    <p>
      Furthermore, in this example we've subscribed three times (in different
      instances) to the same subject and we have a Close Subscriptions button
      that is going to automatically unsubscribe these three subscriptions. If
      it's needed, in other scenarios we'll be able to unsubscribe individually
      from each subscription.
    </p>
    <p>
      Last but not least, if we <u>unsubscribe from the Subject</u>, we're not
      going to be able to receive any new value sent by the Subject's next()
      method and
      <b
        >we're not going to be able to resubscribe to this Subject because we've
        already unsubscribed from it</b
      >.
    </p>
  </div>
</div>
