<div class="d-flex row">
  <app-info-section
    [selectedData]="DISTINCT_UNTIL_SECTION[0]"
  ></app-info-section>
  <app-info-section
    [selectedData]="DISTINCT_UNTIL_SECTION[1]"
  ></app-info-section>
  <div class="mb-4">
    <app-info-section
      [selectedData]="DISTINCT_UNTIL_SECTION[2]"
    ></app-info-section>
    <div class="d-flex pt-3 column gap-3">
      <div class="col-6">
        <div class="form-text">DistinctUntil Operator</div>
        <div class="input-group align-items-center">
          <input type="text" #inputText [(ngModel)]="enteredText"/>
        </div>
        <div class="d-flex justify-content-center p-3">
          <button
                  class="btn btn-outline-secondary mx-3"
                  type="button"
                  (click)="doSendSourceObservable()"
          >
            Emit source data!
          </button>
        </div>
      </div>
      <div class="col-6">
        <div class="form-text">Output:</div>
        <div class="input-group mb-3">
          <textarea
            type="text"
            class="form-control"
            disabled
            [ngModel]="outputArrayValue"
            style="height: 170px"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center py-4 gap-3">
      <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="restart()"
      >
        Restart operator
      </button>
    </div>
    <app-code-tabs
      [tsCode]="tsArrayCode"
      [htmlCode]="htmlArrayCode"
      [tabID]="'fromArray'"
    ></app-code-tabs>
  </div>
</div>
